
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerText{
  text-align: center !important;
  align-items: center;
  display: block;
}


.cosPagina{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  
}

.navbar-fontstyle{
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 500;
}

.navbar-form{
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 300;
}

.title{
  font-weight: 600;
}
.row{
  margin: 0 !important;
}
.bgCard{
  background-color: #3c485c;
  box-shadow: 4px 4px rgb(32, 51, 87);
  transition: all 400ms ease-in-out;
}
.bgCard:hover{
  box-shadow: 2px 2px 10px rgb(217, 229, 231);
  cursor: pointer;
}

p{
  color: white;
}
h5{
  color: white;
}

.searchButton{
  width: 5em;
}
.cursor{
  cursor: pointer;
}
.textWhite{
  color: rgb(211, 211, 211);
}
.imgStyle{
  border-radius: 2%;
  border: 1px solid #3c485c;
  box-shadow: 4px 4px rgb(32, 51, 87);
  transition: all 400ms ease-in-out;
  width: 100%;
}
.imgStyle:hover{
  box-shadow: 2px 2px 10px rgb(217, 229, 231);
  
}
.hrStyle{
  color: white;
  background-color: currentColor;
  margin: 5 rem 0;
  opacity: .25;
}

.center{
  text-align: center;
}

.displayBlock{
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.results{
  
  text-align: start;
}
.vertCenter{
  margin: auto;
  width: 60%;
}
.hero-section {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}
.wrapper-move-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  animation: slideLateral 30s infinite linear;
  will-change: auto;
}
@keyframes slideLateral {
  0% {
    transform: translate3d(0%,0px,0px);
 }
  
  100% {
    transform: translate3d(-75%,0px,0px);
 }
}
.hero-heading {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200vw;
  height: 100%;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(-95px, 0px);
  -ms-transform: translate(-95px, 0px);
  transform: translate(-95px, 0px);
  font-family: 'Bebas Neue', sans-serif;
  color: transparent;
  font-size: 80vh;
  line-height: 1;
  white-space: nowrap;
  background-clip: padding-box;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero-heading.second {
  position: static;
  left: 0%;
  z-index: 36;
  display: block;
  width: auto;
  height: auto;
  margin: auto 0px;
  background-color: hsla(0, 0%, 100%, 0.2);
  background-image: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-size: 70vh;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}





/*@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.glitch {
	position: relative;
	color: white;
	font-size: 4em;
	letter-spacing: .5em;
	
	&:hover{
		animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text. 
	&::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		
		clip: rect(44px, 450px, 56px, 0);
		
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}


@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
	}
	
}*/