
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerText{
  text-align: center !important;
  align-items: center;
  display: block;
}


.cosPagina{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  
}

.navbar-fontstyle{
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 500;
}

.navbar-form{
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 300;
}

.title{
  font-weight: 600;
}
.row{
  margin: 0 !important;
}
.bgCard{
  background-color: #252a31;
  box-shadow: 4px 4px rgb(35, 36, 39);
  transition: all 400ms ease-in-out;
  border-radius: 2em;
}
.bgCard:hover{
  box-shadow: 2px 2px 0px rgb(62, 70, 86);
  cursor: pointer;
}
.divCategoryCard{
  padding-left: 1.25em;
  padding-top: 1.25em;
}
.categoryCard{
  color: rgb(50, 177, 189);
  font-weight: 500;
}

p{
  color: white;
}
h5{
  color: white;
}
.borderRadius{
  border-radius: 0.65em;
}
.searchButton{
  width: 5em;
  border-radius: 0.65em;
}
.cursor{
  cursor: pointer;
}
.textWhite{
  color: rgb(211, 211, 211);
}
.imgStyle{
  border-radius: 2%;
  border: 1px solid #3c485c;
  box-shadow: 4px 4px rgb(32, 51, 87);
  transition: all 400ms ease-in-out;
  width: 100%;
}
.imgStyle:hover{
  box-shadow: 2px 2px 10px rgb(217, 229, 231);
  
}
.hrStyle{
  color: white;
  background-color: currentColor;
  margin: 5 rem 0;
  opacity: .25;
}

.center{
  text-align: center;
}

.displayBlock{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
.results{
  
  text-align: start;
}
.vertCenter{
  margin: auto;
  width: 60%;
}
.hero-section {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}
.wrapper-move-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  will-change: auto;
}
@keyframes slideLateral {
  0% {
    transform: translate3d(0%,0px,0px);
 }
  
  100% {
    transform: translate3d(-100%,0px,0px);
 }
}
.hero-heading {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200vw;
  height: 100%;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(-95px, 0px);
  -ms-transform: translate(-95px, 0px);
  transform: translate(-95px, 0px);
  font-family: 'Bebas Neue', sans-serif;
  color: transparent;
  font-size: 80vh;
  line-height: 1;
  white-space: nowrap;
  background-clip: padding-box;
  -o-object-fit: cover;
  object-fit: cover;
  animation: slideLateral 30s infinite linear;
  letter-spacing: 0rem;
}
.hero-heading.second {
  position: static;
  left: 0%;
  z-index: 36;
  display: block;
  width: auto;
  height: auto;
  margin: auto 0px;
  background-color: hsla(0, 0%, 100%, 0.2);
  background-image: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-size: 70vh;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-slider {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.hero-slide {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
}
.w-slider{
  position:relative;
  text-align:center;
  background:#dddddd;
  clear:both;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  tap-highlight-color:rgba(0,0,0,0);
}
.w-slider-mask{
  position:relative;
  display:block;
  overflow:hidden;
  z-index:1;
  left:0;
  right:0;
  height:100%;
  white-space:nowrap
}
.w-slide{
  position:relative;
  display:inline-block;
  vertical-align:top;
  width:100%;
  height:100%;
  white-space:normal;
  text-align:left
}

.container-heading-slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.whapper-heading-slide {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 980;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16.66%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-heading-slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.22)), to(rgba(0, 0, 0, 0.22))), url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&");
  
}

.overflow {
  position: relative;
  overflow: hidden;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.sub-heading {
  margin-left: 4px;
  font-family: 'Bebas Neue', sans-serif;
  color: hsla(0, 0%, 100%, 0.84);
  font-size: 7em;
  font-weight: 100;
  letter-spacing: 6px;
}
.heading {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 5px;
}
.bakground {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.background-first-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.22)), to(rgba(0, 0, 0, 0.22))), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd552150cd475_heroimage1.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd552150cd475_heroimage1.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  
}
.background-second-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd552cb0cd476_heroimage2.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd552cb0cd476_heroimage2.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}
.background-third-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd5ea700cd48c_heroimage3%20(1).jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("https://assets.website-files.com/5f5f94343affd51e900cd45c/5f5f94343affd5ea700cd48c_heroimage3%20(1).jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}
.slideRecomanats{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
 
  background-size: auto, cover;
  animation: slideLateral 15s infinite linear;

}

.glitch:hover {
  
 /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
 }
  10% {
    transform: skew(2deg);
 }
  20% {
    transform: skew(-4deg);
 }
  30% {
    transform: skew(3deg);
 }
  40% {
    transform: skew(-1deg);
 }
  50% {
    transform: skew(1deg);
 }
  60% {
    transform: skew(-1deg);
 }
  70% {
    transform: skew(5deg);
 }
  80% {
    transform: skew(1deg);
 }
  90% {
    transform: skew(4deg);
 }
  100% {
    transform: skew(5deg);
 }
}


/*@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.glitch {
	position: relative;
	color: white;
	font-size: 4em;
	letter-spacing: .5em;
	
	&:hover{
		animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text. 
	&::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		
		clip: rect(44px, 450px, 56px, 0);
		
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}


@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
	}
	
}*/